@-moz-keyframes slideshowAnimation {
  0% {
    background-image: url("../img/slideshow/_MG_3460.JPG");
  }
  25% {
    background-image: url("../img/slideshow/_MG_3287.JPG");
  }
  50% {
    background-image: url("../img/slideshow/_MG_3461.JPG");
  }
  75% {
    background-image: url("../img/slideshow/_MG_3462.JPG");
  }
  100% {
    background-image: url("../img/slideshow/_MG_3464.JPG");
  }
}
@keyframes slideshowAnimation {
  0% {
    background-image: url("../img/slideshow/_MG_3460.JPG");
  }
  25% {
    background-image: url("../img/slideshow/_MG_3287.JPG");
  }
  50% {
    background-image: url("../img/slideshow/_MG_3461.JPG");
  }
  75% {
    background-image: url("../img/slideshow/_MG_3462.JPG");
  }
  100% {
    background-image: url("../img/slideshow/_MG_3464.JPG");
  }
}
@-moz-keyframes bannerslideshowAnimation {
  0% {
    background-image: url("../img/slideshow/_MG_3460.JPG");
  }
  25% {
    background-image: url("../img/slideshow/_MG_3601.JPG");
  }
  50% {
    background-image: url("../img/slideshow/_MG_3638.JPG");
  }
  75% {
    background-image: url("../img/slideshow/_MG_3587.JPG");
  }
  100% {
    background-image: url("../img/slideshow/_MG_3618.JPG");
  }
}
@-webkit-keyframes bannerslideshowAnimation {
  0% {
    background-image: url("../img/slideshow/_MG_3460.JPG");
  }
  25% {
    background-image: url("../img/slideshow/_MG_3601.JPG");
  }
  50% {
    background-image: url("../img/slideshow/_MG_3638.JPG");
  }
  75% {
    background-image: url("../img/slideshow/_MG_3587.JPG");
  }
  100% {
    background-image: url("../img/slideshow/_MG_3618.JPG");
  }
}
@-o-keyframes bannerslideshowAnimation {
  0% {
    background-image: url("../img/slideshow/_MG_3645.JPG");
  }
  25% {
    background-image: url("../img/slideshow/_MG_3609.JPG");
  }
  50% {
    background-image: url("../img/slideshow/_MG_3440.JPG");
  }
  75% {
    background-image: url("../img/slideshow/_MG_3300.JPG");
  }
  100% {
    background-image: url("../img/slideshow/_MG_3243.JPG");
  }
}
@-ms-keyframes bannerslideshowAnimation {
  0% {
    background-image: url("../img/slideshow/_MG_3460.JPG");
  }
  25% {
    background-image: url("../img/slideshow/_MG_3601.JPG");
  }
  50% {
    background-image: url("../img/slideshow/_MG_3638.JPG");
  }
  75% {
    background-image: url("../img/slideshow/_MG_3587.JPG");
  }
  100% {
    background-image: url("../img/slideshow/_MG_3618.JPG");
  }
}
@keyframes bannerslideshowAnimation {
  0% {
    background-image: url("../img/slideshow/_MG_3460.JPG");
  }
  25% {
    background-image: url("../img/slideshow/_MG_3601.JPG");
  }
  50% {
    background-image: url("../img/slideshow/_MG_3638.JPG");
  }
  75% {
    background-image: url("../img/slideshow/_MG_3587.JPG");
  }
  100% {
    background-image: url("../img/slideshow/_MG_3618.JPG");
  }
}
*, p {
  font-family: "roboto" , arial , helvetica , sans-serif;
}

a, a:visited, a:hover, a:focus, a:active {
  outline: 0;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  max-height: 100%;
  box-sizing: border-box;
}

#container {
  width: inherit;
  height: inherit;
  background-color: #FFFFF7;
  font-family: Arial , helvetica ,sans-serif;
  font-size: 1em;
}
#container header {
  position: relative;
  width: inherit;
  height: 60px;
  background-color: whitesmoke;
  box-shadow: 0px 0px 10px #000;
  border-bottom: 5px solid #E29C45;
}
#container header #logocontainer {
  float: left;
  height: inherit;
  padding-left: 20px;
  margin: 0;
  background-color: whitesmoke;
  border-bottom: 5px solid #E29C45;
}
#container header #logocontainer img {
  position: absolute;
  height: 110px;
  width: 110px;
}
#container header #navbar {
  height: inherit;
  position: relative;
  margin-right: 6%;
  float: right;
  border-bottom: 5px solid #E29C45;
}
#container header #navbar ul {
  height: 100%;
}
#container header #navbar ul li {
  list-style-type: none;
  background-color: whitesmoke;
  height: inherit;
  display: inline-block;
  font-family: "roboto" , arial ,helvetica ,sans-serif;
  float: left;
  padding: 15px;
  padding-top: 20px;
}
#container header #navbar ul li a {
  text-decoration: none;
  color: #2a2a2a;
  text-transform: uppercase;
  -webkit-transition: linear .2s;
  -moz-transition: linear .2s;
  -o-transition: linear .2s;
  transition: linear .2s;
}
#container header #navbar ul li a:hover {
  color: #111;
}
#container #bannerimg {
  height: 380px;
  width: 100%;
  padding-top: 340px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* -moz-animation-name: slideshowAnimation; 
  -moz-animation-duration: 25s; 
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -webkit-animation-name: slideshowAnimation; 
  -webkit-animation-duration: 25s; 
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -o-animation-name: slideshowAnimation; 
  -o-animation-duration: 25s; 
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;
  -khtml-animation-name: slideshowAnimation; 
  -khtml-animation-duration: 25s; 
  -khtml-animation-iteration-count: infinite;
  -khtml-animation-timing-function: linear;
  -ms-animation-name: slideshowAnimation; 
  -ms-animation-duration: 25s; 
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;  
  animation-name: slideshowAnimation;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; */
  /* 	&:hover {
  	-moz-animation-play-state:paused;
  	animation-play-state:paused;
  } */
}
#container #bannerimg #intro {
  width: inherit;
  height: inherit;
  margin: 0;
  text-align: center;
  color: #FFFFF7;
  line-height: 380%;
  -ms-text-shadow: 0px 0px 15px #000;
  -webkit-text-shadow: 0px 0px 15px #000;
  -moz-text-shadow: 0px 0px 15px #000;
  -o-text-shadow: 0px 0px 15px #000;
  text-shadow: 0px 0px 15px #000;
  opacity: 0.3;
  -webkit-transition: linear 1s;
  -ms-transition: linear 1s;
  -o-transition: linear 1s;
  -moz-transition: linear 1s;
  transition: linear 1s;
}
#container #bannerimg #intro:hover {
  opacity: 1;
}
#container #bannerimg #intro h2 {
  padding-top: 15%;
  font-size: 350%;
}
#container #bannerimg #intro h3 {
  font-size: 180%;
}
#container .missionandvission {
  width: 100%;
  background-color: whitesmoke;
  padding: 1.5em;
  height: 330px;
}
#container .missionandvission .missionandvisioncontainer {
  width: 45%;
  border: 3px solid lightgray;
  padding: 15px;
  padding: 10px;
  height: 250px;
  margin: 10px;
  float: left;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 20px;
  -webkit-transition: linear 0.2s;
  -ms-transition: linear 0.2s;
  -o-transition: linear 0.2s;
  -moz-transition: linear 0.2s;
  transition: linear 0.2s;
}
#container .missionandvission .missionandvisioncontainer:hover {
  -ms-box-shadow: 0px 0px 5px #2a2a2a;
  -webkit-box-shadow: 0px 0px 5px #2a2a2a;
  -moz-box-shadow: 0px 0px 5px #2a2a2a;
  -o-box-shadow: 0px 0px 5px #2a2a2a;
  box-shadow: 0px 0px 5px #2a2a2a;
  background-color: #EEEEEE;
}
#container .missionandvission .missionandvisioncontainer:hover .misssionvissiontitle h3 {
  color: #E29C45;
}
#container .missionandvission .missionandvisioncontainer .misssionvissiontitle {
  height: 70px;
  /* border: 1px solid black; */
  padding: 10px;
  margin-bottom: 10px;
}
#container .missionandvission .missionandvisioncontainer .misssionvissiontitle h3 {
  margin: 0px;
  font-size: 2em;
  height: 100%;
}
#container .missionandvission .missionandvisioncontainer .misssionvissiontitle .content {
  line-height: 1em;
}
#container .missionandvission #mission {
  margin-left: 5%;
}
#container #gallerybannerimg {
  height: 580px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -moz-animation-name: bannerslideshowAnimation;
  -moz-animation-duration: 25s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -webkit-animation-name: bannerslideshowAnimation;
  -webkit-animation-duration: 25s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -o-animation-name: bannerslideshowAnimation;
  -o-animation-duration: 25s;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;
  -khtml-animation-name: bannerslideshowAnimation;
  -khtml-animation-duration: 25s;
  -khtml-animation-iteration-count: infinite;
  -khtml-animation-timing-function: linear;
  -ms-animation-name: bannerslideshowAnimation;
  -ms-animation-duration: 25s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: bannerslideshowAnimation;
  animation-duration: 25s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#container #gallerybannerimg #galleryintro {
  width: inherit;
  height: inherit;
  margin: 0;
  text-align: center;
  color: #FFFFF7;
  line-height: 380%;
  -ms-text-shadow: 0px 0px 15px #000;
  -webkit-text-shadow: 0px 0px 15px #000;
  -moz-text-shadow: 0px 0px 15px #000;
  -o-text-shadow: 0px 0px 15px #000;
  text-shadow: 0px 0px 15px #000;
  font-family: "Roboto Slab" , sans-serif;
  -webkit-transition: linear 1s;
  -ms-transition: linear 1s;
  -o-transition: linear 1s;
  -moz-transition: linear 1s;
  transition: linear 1s;
  opacity: 1.0;
}
#container #gallerybannerimg #galleryintro h2, #container #gallerybannerimg #galleryintro h3 {
  opacity: 0.3;
  -webkit-transition: linear 1s;
  -ms-transition: linear 1s;
  -o-transition: linear 1s;
  -moz-transition: linear 1s;
  transition: linear 1s;
  font-family: "Roboto Slab", georgia , serif;
}
#container #gallerybannerimg #galleryintro h2 {
  font-size: 350%;
}
#container #gallerybannerimg #galleryintro h3 {
  font-size: 180%;
}
#container #gallerybannerimg #galleryintro:hover h2 {
  opacity: 1.0;
}
#container #gallerybannerimg #galleryintro:hover h3 {
  opacity: 1.0;
}
#container .welcomeintro {
  /* border: 1px solid black; */
  padding: 0;
  height: 500px;
  width: inherit;
}
#container .welcomeintro .imgWelcomeandtxtwelcomecont {
  height: inherit;
  width: inherit;
  /* border:1px solid red; */
  padding: 15px;
  padding-top: 50px;
}
#container .welcomeintro .imgWelcomeandtxtwelcomecont #imgWelcome {
  width: 40%;
  margin-left: 40px;
  float: left;
  background-image: url("../img/pexels-photo-349609.jpeg");
  -ms-box-shadow: 0px 0px 10px #000;
  -webkit-box-shadow: 0px 0px 10px #000;
  -moz-box-shadow: 0px 0px 10px #000;
  -o-box-shadow: 0px 0px 10px #000;
  box-shadow: 0px 0px 10px #000;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  height: 400px;
}
#container .welcomeintro .imgWelcomeandtxtwelcomecont #imgWelcome p {
  display: block;
  font-size: 2em;
  color: #FFFFF7;
  -ms-text-shadow: 0px 0px 5px #000;
  -webkit-text-shadow: 0px 0px 5px #000;
  -moz-text-shadow: 0px 0px 5px #000;
  -o-text-shadow: 0px 0px 5px #000;
  text-shadow: 0px 0px 5px #000;
  text-align: center;
  font-size: 2.5em;
  margin-top: 120px;
}
#container .welcomeintro .imgWelcomeandtxtwelcomecont #imgWelcome a {
  display: block;
  text-decoration: none;
  color: #2a2a2a;
  height: 50px;
  padding: 10px;
  padding-top: 13px;
  border: 3px solid white;
  margin: 0 auto;
  margin-top: 90px;
  width: 120px;
  -ms-box-shadow: 0px 0px 5px #2a2a2a;
  -webkit-box-shadow: 0px 0px 5px #2a2a2a;
  -moz-box-shadow: 0px 0px 5px #2a2a2a;
  -o-box-shadow: 0px 0px 5px #2a2a2a;
  box-shadow: 0px 0px 5px #2a2a2a;
  -ms-text-shadow: 0px 0px 5px #000;
  -webkit-text-shadow: 0px 0px 5px #000;
  -moz-text-shadow: 0px 0px 5px #000;
  -o-text-shadow: 0px 0px 5px #000;
  text-shadow: 0px 0px 5px #000;
  -webkit-transition: linear 0.5s;
  -ms-transition: linear 0.5s;
  -o-transition: linear 0.5s;
  -moz-transition: linear 0.5s;
  transition: linear 0.5s;
}
#container .welcomeintro .imgWelcomeandtxtwelcomecont #imgWelcome a:hover {
  border: 3px solid #483123;
  text-shadow: none;
  color: #483123;
  font-weight: bold;
}
#container .welcomeintro .imgWelcomeandtxtwelcomecont #txtwelcome {
  width: 40%;
  padding: 10px;
  padding-top: 0;
  margin-right: 90px;
  margin-top: 90px;
  float: right;
  text-align: center;
}
#container .welcomeintro .imgWelcomeandtxtwelcomecont #txtwelcome h1 {
  text-align: center;
  margin-top: 0px;
  font-size: 2.5em;
}
#container .welcomeintro .imgWelcomeandtxtwelcomecont #txtwelcome .txtintro > p {
  text-align: justify;
  font-size: 140%;
  line-height: 140%;
}
#container #galleryintro {
  height: auto;
  width: 100%;
  padding: 30px;
  padding-top: 150px;
  padding-bottom: 50px;
}
#container #galleryintro a#gallerycontainer {
  text-decoration: none;
  width: 85%;
  display: block;
  height: 500px;
  outline: none;
  margin: 0 auto;
  -ms-box-shadow: 0px 0px 15px #2a2a2a;
  -webkit-box-shadow: 0px 0px 15px #2a2a2a;
  -moz-box-shadow: 0px 0px 15px #2a2a2a;
  -o-box-shadow: 0px 0px 15px #2a2a2a;
  box-shadow: 0px 0px 15px #2a2a2a;
  -webkit-transition: ease-in 0.5s;
  -ms-transition: ease-in 0.5s;
  -o-transition: ease-in 0.5s;
  -moz-transition: ease-in 0.5s;
  transition: ease-in 0.5s;
}
#container #galleryintro a#gallerycontainer #gallerylinkimg {
  width: 100%;
  height: 100%;
  padding-top: 20%;
  margin: 0;
  background-image: url("../img/_MG_3582.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 200%;
}
#container #galleryintro a#gallerycontainer:hover {
  -ms-box-shadow: 0px 0px 25px #2a2a2a;
  -webkit-box-shadow: 0px 0px 25px #2a2a2a;
  -moz-box-shadow: 0px 0px 25px #2a2a2a;
  -o-box-shadow: 0px 0px 25px #2a2a2a;
  box-shadow: 0px 0px 25px #2a2a2a;
}
#container #galleryintro a#gallerycontainer:hover #galleryintrotxt h2 {
  opacity: 1.0;
}
#container #galleryintro a#gallerycontainer #galleryintrotxt {
  width: 100%;
  text-align: center;
}
#container #galleryintro a#gallerycontainer #galleryintrotxt h2 {
  margin: 0;
  opacity: 0.4;
  display: inline-block;
  -webkit-transition: ease-in 0.5s;
  -ms-transition: ease-in 0.5s;
  -o-transition: ease-in 0.5s;
  -moz-transition: ease-in 0.5s;
  transition: ease-in 0.5s;
  -ms-text-shadow: 0px 0px 10px #000;
  -webkit-text-shadow: 0px 0px 10px #000;
  -moz-text-shadow: 0px 0px 10px #000;
  -o-text-shadow: 0px 0px 10px #000;
  text-shadow: 0px 0px 10px #000;
  height: 100%;
  text-transform: capitalize;
}
#container footer#footercontainer {
  position: absolute;
  box-shadow: 0px, 0px , 5px, #000;
  padding: 0;
  width: inherit;
  font-family: "roboto" , arial , sans-serif;
  height: 250px;
  background-color: whitesmoke;
  color: #2a2a2a;
}
#container footer#footercontainer .footercontent {
  margin: inherit;
  height: 249px;
}
#container footer#footercontainer .footercontent .aboutinfocontainer {
  float: left;
  height: inherit;
  width: 30%;
  line-height: 150%;
}
#container footer#footercontainer .footercontent .aboutinfocontainer #companyname {
  margin-top: 29px;
  background-color: inherit;
}
#container footer#footercontainer .footercontent .aboutinfocontainer #companyname span {
  background-color: inherit;
  font-size: 1.4em;
  color: inherit;
}
#container footer#footercontainer .footercontent .aboutinfocontainer #location {
  background-color: inherit;
  margin-bottom: 0.90em;
}
#container footer#footercontainer .footercontent .aboutinfocontainer #location span {
  font-size: 0.90em;
  background-color: inherit;
  color: inherit;
}
#container footer#footercontainer .footercontent .aboutinfocontainer #phonenumber {
  background-color: inherit;
  margin-bottom: 0.90em;
}
#container footer#footercontainer .footercontent .aboutinfocontainer #phonenumber span {
  font-size: 0.90em;
  background-color: inherit;
  color: inherit;
}
#container footer#footercontainer .footercontent .aboutinfocontainer #email span {
  background-color: inherit;
  color: inherit;
}
#container footer#footercontainer .footercontent .aboutinfocontainer #companyname, #container footer#footercontainer .footercontent .aboutinfocontainer #location, #container footer#footercontainer .footercontent .aboutinfocontainer #phonenumber, #container footer#footercontainer .footercontent .aboutinfocontainer #email {
  margin-left: 70px;
}
#container footer#footercontainer .footercontent .footernavbar {
  float: left;
  width: 37%;
  height: 100%;
  padding-top: 25px;
}
#container footer#footercontainer .footercontent .footernavbar .links {
  margin: 0;
  background-color: whitesmoke;
  color: #2a2a2a;
  width: 40%;
  float: left;
}
#container footer#footercontainer .footercontent .footernavbar .links ul {
  height: inherit;
  font-size: .9em;
}
#container footer#footercontainer .footercontent .footernavbar .links ul li {
  background-color: whitesmoke;
  list-style-type: none;
  line-height: 150%;
  font-size: 120%;
}
#container footer#footercontainer .footercontent .footernavbar .links ul li a {
  color: #2a2a2a;
  -webkit-transition: ease-in 0.2s;
  -ms-transition: ease-in 0.2s;
  -o-transition: ease-in 0.2s;
  -moz-transition: ease-in 0.2s;
  transition: ease-in 0.2s;
  text-decoration: none;
}
#container footer#footercontainer .footercontent .footernavbar .links ul li a:hover {
  color: #E29C45;
}
#container footer#footercontainer .footercontent .footernavbar .findus {
  float: right;
  width: 40%;
}
#container footer#footercontainer .footercontent .footernavbar .findus h3 {
  font-weight: normal;
  margin-bottom: 10px;
  font-size: 1.2em;
}
#container footer#footercontainer .footercontent .footernavbar .findus a {
  text-decoration: none;
  font-size: .9;
  color: #2a2a2a;
  -webkit-transition: ease-in 0.2s;
  -ms-transition: ease-in 0.2s;
  -o-transition: ease-in 0.2s;
  -moz-transition: ease-in 0.2s;
  transition: ease-in 0.2s;
}
#container footer#footercontainer .footercontent .footernavbar .findus a:hover {
  color: #E29C45;
}
#container footer#footercontainer .footercontent .hours {
  width: 30%;
  float: left;
  height: 100%;
  padding-top: 25px;
  color: #2a2a2a;
}
#container footer#footercontainer .footercontent .hours .hoursdevider {
  width: 100%;
  height: 50%;
}
#container footer#footercontainer .footercontent .hours .hoursdevider .hourscontainer {
  float: right;
  height: 100%;
  width: 50%;
  text-align: center;
  line-height: 140%;
}
#container footer#footercontainer .footercontent .hours .hoursdevider .hourscontainer .hourstitle {
  width: 100%;
  margin-bottom: 5%;
  font-family: "roboto" , tahoma , helvetica , arial , sans-serif;
}
#container footer#footercontainer .footercontent .hours .hoursdevider .hourscontainer .hoursched {
  font-family: "roboto" , tahoma , helvetica , arial , sans-serif;
}
#container footer#footercontainer .footercontent .hours .hoursdevider .hourscontainer .hoursched h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  font-family: "roboto" , tahoma , helvetica , arial , sans-serif;
}
#container footer#footercontainer .footercontent .hours .hoursdevider .hourscontainer .hoursched p {
  font-size: .9em;
}
#container footer#footercontainer #copyrightcontainer {
  height: 50px;
  width: inherit;
  text-align: center;
  opacity: 0.9;
  background-color: #c9c5c5;
  color: #1a1a1a;
  margin: 0;
}
#container footer#footercontainer #copyrightcontainer p {
  margin-top: 13px;
  display: inline-block;
  background-color: inherit;
  -ms-text-shadow: 0px 0px 10px #000;
  -webkit-text-shadow: 0px 0px 10px #000;
  -moz-text-shadow: 0px 0px 10px #000;
  -o-text-shadow: 0px 0px 10px #000;
  text-shadow: 0px 0px 10px #000;
}

/*contact us page specific style*/
.contactusinfo {
  width: 100%;
  height: auto;
}
.contactusinfo .contactusbanner {
  height: 350px;
  width: 100%;
  background-color: red;
  padding-top: 20%;
}
.contactusinfo .contactusbanner .contactustxt {
  width: 100%;
  font-size: 2em;
  padding-left: 1em;
}
.contactusinfo .contactcontainer {
  padding: 20px;
  padding-top: 60px;
  width: 100%;
  height: 700px;
  background-image: url("../img/pexels-photo-266046.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
.contactusinfo .contactcontainer #forinquiries {
  width: 35%;
  float: left;
  border: 1px solid lightgray;
  opacity: 0.8;
  clear: left;
  padding: 30px;
  margin-left: 9%;
  -ms-box-shadow: 0px 0px 5px #2a2a2a;
  -webkit-box-shadow: 0px 0px 5px #2a2a2a;
  -moz-box-shadow: 0px 0px 5px #2a2a2a;
  -o-box-shadow: 0px 0px 5px #2a2a2a;
  box-shadow: 0px 0px 5px #2a2a2a;
}
.contactusinfo .contactcontainer #forinquiries form {
  width: 100%;
  height: 100%;
}
.contactusinfo .contactcontainer #forinquiries form .fillupname {
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 1em;
  font-weight: bold;
  color: #000;
}
.contactusinfo .contactcontainer #forinquiries form input {
  padding: 5px;
  width: 100%;
  -webkit-transition: linear 0.2s;
  -ms-transition: linear 0.2s;
  -o-transition: linear 0.2s;
  -moz-transition: linear 0.2s;
  transition: linear 0.2s;
}
.contactusinfo .contactcontainer #forinquiries form input:focus {
  -ms-box-shadow: 0px 0px 2px #000;
  -webkit-box-shadow: 0px 0px 2px #000;
  -moz-box-shadow: 0px 0px 2px #000;
  -o-box-shadow: 0px 0px 2px #000;
  box-shadow: 0px 0px 2px #000;
}
.contactusinfo .contactcontainer #forinquiries form input[type="submit"] {
  outline: none;
}
.contactusinfo .contactcontainer #forinquiries form input[type="submit"]:hover {
  -ms-box-shadow: 0px 0px 2px #000;
  -webkit-box-shadow: 0px 0px 2px #000;
  -moz-box-shadow: 0px 0px 2px #000;
  -o-box-shadow: 0px 0px 2px #000;
  box-shadow: 0px 0px 2px #000;
}
.contactusinfo .contactcontainer #forinquiries form textarea {
  resize: none;
  width: 100%;
  padding: 5px;
}
.contactusinfo .contactcontainer #contactinfotxt {
  float: right;
  border: 1px solid black;
  height: 500px;
  padding: 10px;
  width: 35%;
  margin-right: 10%;
  opacity: 0.8;
  padding-top: 60px;
}
.contactusinfo .contactcontainer #contactinfotxt .infodivider {
  height: 35%;
  width: 100%;
  text-align: center;
  line-height: 140%;
}
.contactusinfo .contactcontainer #contactinfotxt .infodivider .title {
  text-align: center;
  margin-bottom: 20px;
}
.contactusinfo #location {
  width: 100%;
  height: 400px;
}
.contactusinfo #location iframe {
  width: 100%;
  height: 100%;
}
.contactusinfo #emailcontainer {
  width: 100%;
  height: auto;
  border: 1px solid black;
}
.contactusinfo #emailcontainer .titleandesc {
  height: 20%;
  border-bottom: 1px solid black;
}
.contactusinfo #emailcontainer .titleandesc div {
  width: 100%;
  text-align: center;
}
.contactusinfo #emailcontainer .titleandesc .emailtitle {
  font-size: 2em;
  margin-top: 1.5em;
}
.contactusinfo #emailcontainer .titleandesc .emaildescription {
  margin-top: .5em;
  font-size: 1.5em;
}
.contactusinfo #emailcontainer .updates {
  width: 100%;
  padding-bottom: 10px;
  padding-top: 20px;
}
.contactusinfo #emailcontainer .updates form {
  width: 509px;
  margin: 0 auto;
  height: 100%;
}
.contactusinfo #emailcontainer .updates form input {
  padding: 7px;
  display: inline-block;
}
.contactusinfo #emailcontainer .updates form input[type="email"] {
  margin-right: 100px;
  width: 250px;
  -webkit-transition: linear 0.2s;
  -ms-transition: linear 0.2s;
  -o-transition: linear 0.2s;
  -moz-transition: linear 0.2s;
  transition: linear 0.2s;
}
.contactusinfo #emailcontainer .updates form input[type="email"]:focus {
  -ms-box-shadow: 0px 0px 5px gray;
  -webkit-box-shadow: 0px 0px 5px gray;
  -moz-box-shadow: 0px 0px 5px gray;
  -o-box-shadow: 0px 0px 5px gray;
  box-shadow: 0px 0px 5px gray;
}

/* about us stylesheet */
#aboutuscontainer {
  width: inherit;
  margin: 0;
  height: auto;
}
#aboutuscontainer .aboutusbanner {
  height: 350px;
  width: 100%;
  background-color: red;
  padding-top: 20%;
}
#aboutuscontainer .aboutusbanner .aboutustxt {
  width: 100%;
  font-size: 2em;
  padding-left: 1em;
}
#aboutuscontainer #missionandvisioncont {
  width: 100%;
  height: 400px;
  border: 1px solid black;
  padding: 10px;
}
#aboutuscontainer #missionandvisioncont .missionandvision {
  width: 45%;
  float: left;
  border: 1px solid black;
  margin: 30px;
  height: 85%;
}
#aboutuscontainer #missionandvisioncont .missionandvision .missionandvissiontitle {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid black;
  text-align: center;
}
#aboutuscontainer #missionandvisioncont .missionandvision .missionandvissiontitle h3 {
  width: 100%;
  height: 100%;
  font-size: 2em;
}
#aboutuscontainer #missionandvisioncont .missionandvision .missionandvissiondesc {
  width: 100%;
  height: 100%;
  padding: 15px;
  text-align: center;
}
#aboutuscontainer #missionandvisioncont .missionandvision .missionandvissiondesc p {
  width: 100%;
  height: 100%;
  line-height: 140%;
}
#aboutuscontainer #historyandabout {
  height: auto;
  width: 100%;
  border: 1px solid black;
}
#aboutuscontainer #historyandabout .historyandaboutdevider {
  height: 400px;
  width: 100%;
  border: 1px solid black;
  padding: 30px;
}
#aboutuscontainer #historyandabout .historyandaboutdevider .size {
  width: 50%;
  height: 100%;
  border: 1px solid black;
  padding: 25px;
}
#aboutuscontainer #historyandabout .historyandaboutdevider .left {
  float: left;
}
#aboutuscontainer #historyandabout .historyandaboutdevider .right {
  float: right;
}
#aboutuscontainer #historyandabout .historyandaboutdevider .imagehistory img {
  width: 100%;
  height: 100%;
  border: 1px solid #EEEEEE;
  display: block;
  -webkit-transition: linear 0.2s;
  -ms-transition: linear 0.2s;
  -o-transition: linear 0.2s;
  -moz-transition: linear 0.2s;
  transition: linear 0.2s;
  -ms-box-shadow: 0px 0px 5px #1a1a1a;
  -webkit-box-shadow: 0px 0px 5px #1a1a1a;
  -moz-box-shadow: 0px 0px 5px #1a1a1a;
  -o-box-shadow: 0px 0px 5px #1a1a1a;
  box-shadow: 0px 0px 5px #1a1a1a;
}
#aboutuscontainer #historyandabout .historyandaboutdevider .imagehistory img:hover {
  border: 3px solid #EEEEEE;
  -ms-box-shadow: 0px 0px 15px #1a1a1a;
  -webkit-box-shadow: 0px 0px 15px #1a1a1a;
  -moz-box-shadow: 0px 0px 15px #1a1a1a;
  -o-box-shadow: 0px 0px 15px #1a1a1a;
  box-shadow: 0px 0px 15px #1a1a1a;
}
#aboutuscontainer #historyandabout .historyandaboutdevider .historytxt {
  text-align: center;
  line-height: 140%;
}
#aboutuscontainer #historyandabout .historyandaboutdevider .historytitle {
  font-size: 1.6em;
  margin-bottom: 25px;
}
#aboutuscontainer #historyandabout .historyandaboutdevider .historytitle h3 {
  width: 100%;
  height: 100%;
}

/* menu page style */
#menucontainer {
  width: 100%;
  border: 1px solid black;
  height: 2000px;
}
#menucontainer .border {
  border: 1px solid black;
}
#menucontainer #drinkscontainer {
  width: inherit;
  height: 50%;
  border-bottom: 1px solid black;
}
#menucontainer #drinkscontainer #hotdrinks {
  height: 400px;
  width: 300px;
  float: left;
  padding: 10px;
  padding-top: 50px;
}
#menucontainer #drinkscontainer #hotdrinks .titleandprice {
  height: 30px;
  width: 100%;
  border: 1px solid black;
}
#menucontainer #drinkscontainer #hotdrinks .titleandprice h3 {
  float: left;
}
#menucontainer #drinkscontainer #hotdrinks .titleandprice h4 {
  float: right;
  margin-right: 20px;
}
#menucontainer #drinkscontainer #hotdrinks ul {
  float: left;
  list-style-type: none;
  line-height: 140%;
}
#menucontainer #drinkscontainer #hotdrinks ul:last-child {
  margin-left: 15%;
}
#menucontainer #drinkscontainer #icedcoffee {
  width: 342px;
  height: 300px;
  float: left;
  padding: 10px;
  padding-top: 50px;
}
#menucontainer #drinkscontainer #icedcoffee h3 {
  width: 100%;
  border: 1px solid black;
}
#menucontainer #drinkscontainer #icedcoffee .titleandprice {
  height: 30px;
  width: 100%;
  border: 1px solid black;
}
#menucontainer #drinkscontainer #icedcoffee .titleandprice h4 {
  float: right;
}
#menucontainer #drinkscontainer #icedcoffee .titleandprice h4:first-child {
  margin-right: 15px;
  margin-left: 5px;
}
#menucontainer #drinkscontainer #icedcoffee .titleandprice h4:last-child {
  margin-left: 10px;
}
#menucontainer #drinkscontainer #icedcoffee .icecoffecon {
  border: 1px solid black;
  margin-top: 30px;
  width: 100%;
  padding: 0px;
  height: 70%;
  margin-top: 10px;
}
#menucontainer #drinkscontainer #icedcoffee .icecoffecon ul {
  float: left;
  list-style-type: none;
  line-height: 140%;
  border: 1px solid black;
}
#menucontainer #drinkscontainer #icedcoffee .icecoffecon .prices12oz {
  margin-left: 5px;
}
#menucontainer #drinkscontainer #icedcoffee .icecoffecon .prices16oz {
  margin-left: 10px;
}
#menucontainer #drinkscontainer #frapuccino {
  width: 335px;
  height: 300px;
  border: 1px solid black;
  float: left;
  padding: 10px;
  padding-top: 50px;
}
#menucontainer #drinkscontainer #frapuccino h3 {
  width: 100%;
  border: 1px solid black;
}
#menucontainer #drinkscontainer #frapuccino .titleandprice {
  height: 30px;
  width: 100%;
  border: 1px solid black;
}
#menucontainer #drinkscontainer #frapuccino .titleandprice h4 {
  float: right;
}
#menucontainer #drinkscontainer #frapuccino .titleandprice h4:first-child {
  margin-right: 15px;
  margin-left: 15px;
}
#menucontainer #drinkscontainer #frapuccino .titleandprice h4:last-child {
  margin-left: 5px;
}
#menucontainer #drinkscontainer #frapuccino .frapuccinocon {
  border: 1px solid black;
  margin-top: 30px;
  width: 100%;
  padding: 0px;
  height: 70%;
  margin-top: 10px;
}
#menucontainer #drinkscontainer #frapuccino .frapuccinocon ul {
  float: left;
  list-style-type: none;
  line-height: 140%;
  border: 1px solid black;
}
#menucontainer #drinkscontainer #frapuccino .frapuccinocon .prices12oz {
  margin-left: 15px;
}
#menucontainer #drinkscontainer #frapuccino .frapuccinocon .prices16oz {
  margin-left: 10px;
}
#menucontainer #drinkscontainer #signaturedrinks {
  width: 370px;
  height: 550px;
  border: 1px solid black;
  float: right;
  margin: 0;
  padding: 10px;
  padding-top: 50px;
}
#menucontainer #drinkscontainer #signaturedrinks h3 {
  width: 100%;
  border: 1px solid black;
}
#menucontainer #drinkscontainer #signaturedrinks .titleandprice {
  height: 30px;
  width: 100%;
  border: 1px solid black;
}
#menucontainer #drinkscontainer #signaturedrinks .titleandprice h4 {
  float: right;
}
#menucontainer #drinkscontainer #signaturedrinks .titleandprice h4:first-child {
  margin-right: 15px;
  margin-left: 15px;
}
#menucontainer #drinkscontainer #signaturedrinks .titleandprice h4:last-child {
  margin-left: 5px;
}
#menucontainer #drinkscontainer #signaturedrinks .signaturedrinkscon {
  border: 1px solid black;
  margin-top: 30px;
  width: 100%;
  padding: 0px;
  height: 88%;
  margin-top: 10px;
}
#menucontainer #drinkscontainer #signaturedrinks .signaturedrinkscon ul {
  float: left;
  list-style-type: none;
  line-height: 140%;
  border: 1px solid black;
}
#menucontainer #drinkscontainer #signaturedrinks .signaturedrinkscon .prices12oz {
  margin-left: 15px;
  margin-right: 5px;
}
#menucontainer #drinkscontainer #signaturedrinks .signaturedrinkscon .prices16oz {
  margin-left: 10px;
  margin-right: 5px;
}
#menucontainer #drinkscontainer #italiansoda {
  width: 300px;
  height: 350px;
  border: 1px solid black;
  margin: 0;
  padding: 10px;
  clear: left;
  float: left;
  padding-top: 50px;
}
#menucontainer #drinkscontainer #italiansoda h3 {
  width: 100%;
  border: 1px solid black;
}
#menucontainer #drinkscontainer #italiansoda .italiansodacon {
  border: 1px solid black;
  margin-top: 30px;
  width: 100%;
  padding: 0px;
  height: 88%;
  margin-top: 10px;
}
#menucontainer #drinkscontainer #italiansoda .italiansodacon ul {
  float: left;
  list-style-type: none;
  line-height: 140%;
  border: 1px solid black;
}
#menucontainer #drinkscontainer #italiansoda .italiansodacon .price {
  margin-left: 35%;
}

/* services styles */
#eventscontainer .eventstitle {
  width: 100%;
  margin-top: 100px;
  padding: 10px;
  text-align: center;
  margin-bottom: 50px;
  font-size: 1.5em;
}
#eventscontainer #centering {
  width: 80%;
  padding: 10px;
  border: 1px solid black;
  margin: 0 auto;
}
#eventscontainer #centering .separator {
  width: 100%;
  height: 50%;
  border: 1px solid black;
}
#eventscontainer #centering .separator .eventsimg {
  width: 100%;
  height: 30%;
  -ms-box-shadow: 0px 0px 10px #2a2a2a;
  -webkit-box-shadow: 0px 0px 10px #2a2a2a;
  -moz-box-shadow: 0px 0px 10px #2a2a2a;
  -o-box-shadow: 0px 0px 10px #2a2a2a;
  box-shadow: 0px 0px 10px #2a2a2a;
  -webkit-transition: ease-in 0.2s;
  -ms-transition: ease-in 0.2s;
  -o-transition: ease-in 0.2s;
  -moz-transition: ease-in 0.2s;
  transition: ease-in 0.2s;
}
#eventscontainer #centering .separator .eventsimg:hover {
  -ms-box-shadow: 0px 0px 15px #2a2a2a;
  -webkit-box-shadow: 0px 0px 15px #2a2a2a;
  -moz-box-shadow: 0px 0px 15px #2a2a2a;
  -o-box-shadow: 0px 0px 15px #2a2a2a;
  box-shadow: 0px 0px 15px #2a2a2a;
}
#eventscontainer #centering .separator .eventsimg figure {
  width: 100%;
  height: 450px;
  margin: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#eventscontainer #centering .separator #martinazimg figure {
  background-image: url("../img/_MG_3619.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#eventscontainer #centering .separator h3 {
  margin-top: 10px;
  padding: 15px;
  font-size: 1.5em;
  text-align: center;
}
#eventscontainer #centering .separator .prices {
  width: 49.70%;
  margin: 0;
  margin-top: 50px;
  height: 200px;
  display: inline-block;
  margin-bottom: 30px;
}
#eventscontainer #centering .separator .prices h4 {
  text-align: center;
}
#eventscontainer #centering .separator .prices dl {
  padding: 10px;
  padding-top: 15px;
  padding-left: 15px;
}
#eventscontainer #centering .separator .prices dl dt {
  padding-bottom: 5px;
  font-weight: bold;
}
#eventscontainer #centering .separator .prices dl dd {
  padding-left: 35px;
}
#eventscontainer #centering .separator .prices:first-child {
  border: 1px solid black;
}
#eventscontainer #centering .separator .prices:last-child {
  border: 1px solid black;
}

/* gallery stylesheet */
#gallerycontainer {
  background-color: #FFFFF7;
  color: #FFFFF7;
  text-transform: capitalize;
  width: 100%;
  height: auto;
  /* #gallerytitle {
  	width: 100%;
  	height: 50px;
  	padding: 10px;
  	text-align: center;
  	text-transform: uppercase;
  	@include textShadow(0px, 0px , 10px, #2a2a2a);
  	background-color: #1a1a1a;
  	h1 {
  		background-color: #1a1a1a;
  		width: 100%;
  		text-transform: capitalize;
  		margin: 0;
  		height: 100%;
  	}
  } */
}
#gallerycontainer .compartment {
  padding: 20px;
  width: 100%;
  height: 50%;
}
#gallerycontainer .compartment a {
  outline: none;
  height: 300px;
  width: 49.0%;
  text-decoration: none;
  display: inline-block;
  margin: 0 auto;
}
#gallerycontainer .compartment a .category {
  width: 100%;
  height: 100%;
  margin: 0;
}
#gallerycontainer .compartment a .category h2 {
  text-decoration: none;
  color: #FFFFF7;
  width: 100%;
  margin-top: 37.34%;
  background-color: #150e0a;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  -ms-text-shadow: 0px 0px 10px #2a2a2a;
  -webkit-text-shadow: 0px 0px 10px #2a2a2a;
  -moz-text-shadow: 0px 0px 10px #2a2a2a;
  -o-text-shadow: 0px 0px 10px #2a2a2a;
  text-shadow: 0px 0px 10px #2a2a2a;
}
#gallerycontainer .compartment a #facilitiesgallery {
  background-image: url("../img/_MG_3638.JPG");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border: 3px solid #150e0a;
  -ms-box-shadow: 0px 0px 10px #1a1a1a;
  -webkit-box-shadow: 0px 0px 10px #1a1a1a;
  -moz-box-shadow: 0px 0px 10px #1a1a1a;
  -o-box-shadow: 0px 0px 10px #1a1a1a;
  box-shadow: 0px 0px 10px #1a1a1a;
  -webkit-transition: linear 0.5s;
  -ms-transition: linear 0.5s;
  -o-transition: linear 0.5s;
  -moz-transition: linear 0.5s;
  transition: linear 0.5s;
}
#gallerycontainer .compartment a #facilitiesgallery:hover {
  border: 3px solid #483123;
  -ms-box-shadow: 0px 0px 15px #2a2a2a;
  -webkit-box-shadow: 0px 0px 15px #2a2a2a;
  -moz-box-shadow: 0px 0px 15px #2a2a2a;
  -o-box-shadow: 0px 0px 15px #2a2a2a;
  box-shadow: 0px 0px 15px #2a2a2a;
}
#gallerycontainer .compartment a #membersgallery {
  background-image: url("../img/_MG_3467.JPG");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border: 3px solid #150e0a;
  -ms-box-shadow: 0px 0px 10px #1a1a1a;
  -webkit-box-shadow: 0px 0px 10px #1a1a1a;
  -moz-box-shadow: 0px 0px 10px #1a1a1a;
  -o-box-shadow: 0px 0px 10px #1a1a1a;
  box-shadow: 0px 0px 10px #1a1a1a;
  -webkit-transition: linear 0.5s;
  -ms-transition: linear 0.5s;
  -o-transition: linear 0.5s;
  -moz-transition: linear 0.5s;
  transition: linear 0.5s;
}
#gallerycontainer .compartment a #membersgallery:hover {
  border: 3px solid #483123;
  -ms-box-shadow: 0px 0px 15px #2a2a2a;
  -webkit-box-shadow: 0px 0px 15px #2a2a2a;
  -moz-box-shadow: 0px 0px 15px #2a2a2a;
  -o-box-shadow: 0px 0px 15px #2a2a2a;
  box-shadow: 0px 0px 15px #2a2a2a;
}
#gallerycontainer .compartment a #foodsgallery {
  background-image: url("../img/_MG_3461.JPG");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border: 3px solid #150e0a;
  -ms-box-shadow: 0px 0px 10px #1a1a1a;
  -webkit-box-shadow: 0px 0px 10px #1a1a1a;
  -moz-box-shadow: 0px 0px 10px #1a1a1a;
  -o-box-shadow: 0px 0px 10px #1a1a1a;
  box-shadow: 0px 0px 10px #1a1a1a;
  -webkit-transition: linear 0.5s;
  -ms-transition: linear 0.5s;
  -o-transition: linear 0.5s;
  -moz-transition: linear 0.5s;
  transition: linear 0.5s;
}
#gallerycontainer .compartment a #foodsgallery:hover {
  border: 3px solid #483123;
  -ms-box-shadow: 0px 0px 15px #2a2a2a;
  -webkit-box-shadow: 0px 0px 15px #2a2a2a;
  -moz-box-shadow: 0px 0px 15px #2a2a2a;
  -o-box-shadow: 0px 0px 15px #2a2a2a;
  box-shadow: 0px 0px 15px #2a2a2a;
}
#gallerycontainer .compartment a #eventsgallery {
  background-image: url("../img/_MG_3618.JPG");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border: 3px solid #150e0a;
  -ms-box-shadow: 0px 0px 10px #1a1a1a;
  -webkit-box-shadow: 0px 0px 10px #1a1a1a;
  -moz-box-shadow: 0px 0px 10px #1a1a1a;
  -o-box-shadow: 0px 0px 10px #1a1a1a;
  box-shadow: 0px 0px 10px #1a1a1a;
  -webkit-transition: linear 0.5s;
  -ms-transition: linear 0.5s;
  -o-transition: linear 0.5s;
  -moz-transition: linear 0.5s;
  transition: linear 0.5s;
}
#gallerycontainer .compartment a #eventsgallery:hover {
  border: 3px solid #483123;
  -ms-box-shadow: 0px 0px 15px #2a2a2a;
  -webkit-box-shadow: 0px 0px 15px #2a2a2a;
  -moz-box-shadow: 0px 0px 15px #2a2a2a;
  -o-box-shadow: 0px 0px 15px #2a2a2a;
  box-shadow: 0px 0px 15px #2a2a2a;
}
#gallerycontainer .compartment a:first-child {
  margin-right: 5px;
}
#gallerycontainer .compartment a:last-child {
  margin-left: 5px;
}

#ktvimg figure {
  background-image: url("../img/_MG_3580.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.buttons {
  position: relative;
  height: 25px;
  width: 120px;
  margin: 0 auto;
}
.buttons .button {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 100%;
  border: 3px solid #E29C45;
}
.buttons .button:hover {
  -ms-box-shadow: 0px 0px 5px #000;
  -webkit-box-shadow: 0px 0px 5px #000;
  -moz-box-shadow: 0px 0px 5px #000;
  -o-box-shadow: 0px 0px 5px #000;
  box-shadow: 0px 0px 5px #000;
}

#optionbuttoncontainer {
  width: 100%;
  height: 100px;
  background-color: whitesmoke;
}
#optionbuttoncontainer .optionbutton {
  width: 30%;
  height: 50px;
  margin: 10px;
  margin-top: 25px;
  border: 1px solid lightgray;
  display: inline-block;
  text-align: center;
  -ms-box-shadow: 0px 0px 1px #000;
  -webkit-box-shadow: 0px 0px 1px #000;
  -moz-box-shadow: 0px 0px 1px #000;
  -o-box-shadow: 0px 0px 1px #000;
  box-shadow: 0px 0px 1px #000;
  -webkit-transition: linear 0.2s;
  -ms-transition: linear 0.2s;
  -o-transition: linear 0.2s;
  -moz-transition: linear 0.2s;
  transition: linear 0.2s;
}
#optionbuttoncontainer .optionbutton:hover {
  background-color: #EEEEEE;
}
#optionbuttoncontainer .optionbutton a {
  width: 100%;
  height: 100%;
  padding-top: 15px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
  -webkit-transition: linear 0.2s;
  -ms-transition: linear 0.2s;
  -o-transition: linear 0.2s;
  -moz-transition: linear 0.2s;
  transition: linear 0.2s;
}
#optionbuttoncontainer .optionbutton a:hover {
  color: #E29C45;
}
#optionbuttoncontainer .optionbutton:first-child {
  margin-left: 40px;
}

#bestsellercontainer {
  height: auto;
  width: 100%;
  background-color: whitesmoke;
}
#bestsellercontainer .bestsellerdevider {
  display: inline-block;
  width: 49.85%;
  height: 700px;
  margin: 0;
}
#bestsellercontainer .bestsellerdevider .bestsellertitle {
  width: 100%;
  height: 70px;
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 20px;
}
#bestsellercontainer .bestsellerdevider .bestsellertitle h3 {
  width: 100%;
  height: 100%;
  padding-top: 15px;
}
#bestsellercontainer .bestsellerdevider .seller {
  width: 40%;
  float: left;
  height: 170px;
  border: 1px solid lightgray;
  margin: 10px;
  margin-left: 40px;
  padding: 10px;
  -webkit-transition: linear 0.2s;
  -ms-transition: linear 0.2s;
  -o-transition: linear 0.2s;
  -moz-transition: linear 0.2s;
  transition: linear 0.2s;
}
#bestsellercontainer .bestsellerdevider .seller:hover {
  background-color: #F5D76E;
  -ms-box-shadow: 0px 0px 5px #2a2a2a;
  -webkit-box-shadow: 0px 0px 5px #2a2a2a;
  -moz-box-shadow: 0px 0px 5px #2a2a2a;
  -o-box-shadow: 0px 0px 5px #2a2a2a;
  box-shadow: 0px 0px 5px #2a2a2a;
}
#bestsellercontainer .bestsellerdevider .seller figure {
  border: 1px solid lightgray;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

#menubannercontainer {
  height: 350px;
  width: 100%;
  border: 1px solid black;
  background: red;
}
#menubannercontainer #caption {
  margin-top: 10%;
  text-align: center;
  font-size: 2em;
  width: 100%;
}
#menubannercontainer #caption h1 {
  height: 100%;
  width: 100%;
}

#menucontainer {
  width: 100%;
  height: auto;
  border: 1px solid black;
}
#menucontainer .menucategory {
  width: 100%;
  height: 100px;
  border: 1px solid black;
}
#menucontainer .menucategory .category {
  width: 30%;
  height: 50px;
  margin: 10px;
  margin-top: 25px;
  border: 1px solid black;
  display: inline-block;
  text-align: center;
}
#menucontainer .menucategory .category a {
  width: 100%;
  height: 100%;
  padding-top: 15px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}
#menucontainer .menucategory .category:first-child {
  margin-left: 40px;
}
#menucontainer .menudevider {
  width: 100%;
  height: auto;
  border: 1px solid black;
}
#menucontainer .menudevider .menutitle {
  margin: 0;
  height: 70px;
  border: 1px solid black;
  width: 100%;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 30px;
}
#menucontainer .menudevider .menutitle h2 {
  width: 100%;
  font-size: 2em;
  height: 100%;
}
#menucontainer .menudevider .dishtitle {
  width: 100%;
  height: 50px;
  font-size: 2em;
}
#menucontainer .menudevider .dishtitle h3 {
  padding-top: 10px;
  width: 100%;
  height: 100px;
  padding-left: 10px;
}
#menucontainer .menudevider .menudivider {
  width: 100%;
}
#menucontainer .menudevider .menudivider .categorytitle {
  margin-top: 20px;
  background-color: brown;
  padding: 10px;
  text-align: center;
}
#menucontainer .menudevider .menudivider .dishes {
  width: 225px;
  height: 270px;
  border: 1px solid black;
  margin: 15px;
  display: inline-block;
}
#menucontainer .menudevider .menudivider .first-child {
  margin-left: 40px;
}

.servicesbanner {
  height: 350px;
  width: 100%;
  background-color: red;
  padding-top: 20%;
}
.servicesbanner .servicetxt {
  width: 100%;
  font-size: 2em;
  padding-left: 1em;
}

.servicescontainer {
  height: auto;
  width: 100%;
}
.servicescontainer .categoryoption {
  height: 100px;
  width: 100%;
  border: 1px solid black;
}
.servicescontainer .categoryoption .category {
  border: 1px solid black;
  width: 30%;
  height: 50px;
  margin: 10px;
  margin-top: 25px;
  border: 1px solid black;
  display: inline-block;
  text-align: center;
}
.servicescontainer .categoryoption .category a {
  width: 100%;
  height: 100%;
  padding-top: 15px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}
.servicescontainer .categoryoption .category:first-child {
  margin-left: 40px;
}
.servicescontainer .genre {
  height: 520px;
  width: 100%;
  padding-top: 30px;
  border-bottom: 1px solid black;
}
.servicescontainer .genre .genrecontainer {
  width: 98%;
  margin: 0 auto;
  border: 1px solid black;
  height: 98%;
}
.servicescontainer .genre .genrecontainer .genretitle {
  height: 20%;
  width: 100%;
  border-bottom: 1px solid black;
  font-size: 2em;
}
.servicescontainer .genre .genrecontainer .dayscontainer {
  width: 100%;
  border: 1px solid black;
  height: 350px;
  padding: 5px;
  padding-bottom: 10px;
  margin: 0 auto;
}
.servicescontainer .genre .genrecontainer .dayscontainer .days {
  height: 100%;
  display: inline-block;
  width: 180px;
  border: 1px solid black;
}
.servicescontainer .genre .genrecontainer .dayscontainer .days .daystitle {
  height: 20%;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid black;
}
.servicescontainer .genre .genrecontainer .dayscontainer .days .daystitle h4 {
  width: 100%;
  height: 100%;
  padding-top: 10px;
}
.servicescontainer .genre .genrecontainer .days:first-child {
  margin-left: 10px;
}
.servicescontainer .ktv {
  width: 100%;
  height: 500px;
  padding: 30px;
  padding-left: 15px;
  padding-right: 15px;
}
.servicescontainer .ktv .ktvcontainer {
  width: 100%;
  border: 1px solid black;
  margin: 0 auto;
  height: 400px;
}
.servicescontainer .ktv .ktvcontainer .ktvtitle {
  width: 100%;
  height: 20%;
  border-bottom: 1px solid black;
  text-align: center;
  font-size: 2em;
}
.servicescontainer .ktv .ktvcontainer .ktvtitle h3 {
  width: 100%;
  height: 100%;
  font-size: 1.5em;
}
.servicescontainer .ktv .ktvcontainer .rooms {
  width: 31%;
  border: 1px solid black;
  height: 300px;
  display: inline-block;
  margin: 10px;
}
.servicescontainer .ktv .ktvcontainer #firstroom {
  margin-left: 20px;
}
.servicescontainer .martinas {
  width: 100%;
  height: 450px;
  border: 1px solid black;
  padding: 10px;
  padding-top: 50px;
}
.servicescontainer .martinas .martinascontainer {
  width: 95%;
  height: 350px;
  border: 1px solid  black;
  margin: 0 auto;
}
.servicescontainer .martinas .martinascontainer .martinastitle {
  height: 20%;
  width: 100%;
  border-bottom: 1px solid black;
}
.servicescontainer .martinas .martinascontainer .martinastitle h3 {
  width: 100%;
  height: 100%;
  font-size: 1.5em;
}
.servicescontainer .martinas .martinascontainer .imageslider {
  width: 100%;
  height: 250px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-top: 100px;
}
.servicescontainer .martinas .martinascontainer .imageslider .slidercontainer {
  width: 100%;
  height: 70px;
  border: 1px solid black;
}
.servicescontainer .martinas .martinascontainer .imageslider .slidercontainer .slider {
  height: 100%;
  width: 50px;
}
.servicescontainer .martinas .martinascontainer .imageslider .slidercontainer .slider:first-child {
  float: left;
  margin-right: 1050px;
  margin-left: 50px;
}
.servicescontainer .martinas .martinascontainer .imageslider .slidercontainer .slider:last-child {
  float: right;
  margin-right: 50px;
}
.servicescontainer .martinas .martinascontainer .imageslider .details {
  margin: 0 auto;
  margin-top: 20px;
  height: 50px;
  width: 100px;
  border: 1px solid black;
  text-align: center;
}
.servicescontainer .martinas .martinascontainer .imageslider .details a {
  width: 100%;
  height: 100%;
  display: block;
  padding-top: 15px;
  text-decoration: none;
  color: #000;
}

#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 1;
  opacity: 0.9;
}
#overlay #overlaybuttoncontainer {
  height: 100px;
  width: 100%;
  padding-top: 50px;
}
#overlay #overlaybuttoncontainer #overlaybutton {
  width: 70px;
  border: 1px solid white;
  float: right;
  height: 100%;
  margin-right: 10%;
  border-radius: 100%;
}
#overlay .overlayimg {
  width: 50%;
  margin: 0 auto;
  border: 3px solid white;
  height: 55%;
  margin-top: 8%;
  background-position: center;
  opacity: 1;
  z-index: 1;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -webkit-transition: "linear" 2s;
  -ms-transition: "linear" 2s;
  -o-transition: "linear" 2s;
  -moz-transition: "linear" 2s;
  transition: "linear" 2s;
}
#overlay .overlayimg:hover {
  box-shadow: 0px 0px 10px #eeeeee;
}
#overlay .overlayimg img {
  z-index: 2;
  opacity: 1;
}

/*# sourceMappingURL=lagocafeStyle.css.map */
