$backgroundColor:#FFFFF7; 
$coffteaThemeColor:#483123;
$coffteaNormalText:#5B4B27;
$copyRightBg:#150e0a;
$footercontentbg:#291a12;
$goldenfallenleaves:#E29C45;
$creamcan:#F5D76E;
@-moz-keyframes slideshowAnimation {
	0% {
		background-image: url("../img/slideshow/_MG_3460.JPG");
	}
	25% {
		background-image: url("../img/slideshow/_MG_3287.JPG");
	}
	50% {
		background-image: url("../img/slideshow/_MG_3461.JPG");
	}
	75% {
		background-image: url("../img/slideshow/_MG_3462.JPG");
	}
	100% {
		background-image: url("../img/slideshow/_MG_3464.JPG");
	}
}
@keyframes slideshowAnimation{
	0% {
		background-image: url("../img/slideshow/_MG_3460.JPG");
	}
	25% {
		background-image: url("../img/slideshow/_MG_3287.JPG");
	}
	50% {
		background-image: url("../img/slideshow/_MG_3461.JPG");
	}
	75% {
		background-image: url("../img/slideshow/_MG_3462.JPG");
	}
	100% {
		background-image: url("../img/slideshow/_MG_3464.JPG");
	}
}


@-moz-keyframes bannerslideshowAnimation {
	0% {
		background-image: url("../img/slideshow/_MG_3460.JPG");
	}
	25% {
		background-image: url("../img/slideshow/_MG_3601.JPG");
	}
	50% {
		background-image: url("../img/slideshow/_MG_3638.JPG");
	}
	75% {
		background-image: url("../img/slideshow/_MG_3587.JPG");
	}
	100% {
		background-image: url("../img/slideshow/_MG_3618.JPG");
	}
}
@-webkit-keyframes bannerslideshowAnimation {
	0% {
		background-image: url("../img/slideshow/_MG_3460.JPG");
	}
	25% {
		background-image: url("../img/slideshow/_MG_3601.JPG");
	}
	50% {
		background-image: url("../img/slideshow/_MG_3638.JPG");
	}
	75% {
		background-image: url("../img/slideshow/_MG_3587.JPG");
	}
	100% {
		background-image: url("../img/slideshow/_MG_3618.JPG");
	}

}
@-o-keyframes bannerslideshowAnimation {
	0% {
		background-image: url("../img/slideshow/_MG_3645.JPG");
	}
	25% {
		background-image: url("../img/slideshow/_MG_3609.JPG");
	}
	50% {
		background-image: url("../img/slideshow/_MG_3440.JPG");
	}
	75% {
		background-image: url("../img/slideshow/_MG_3300.JPG");
	}
	100% {
		background-image: url("../img/slideshow/_MG_3243.JPG");
	}

}
@-ms-keyframes bannerslideshowAnimation {
	0% {
		background-image: url("../img/slideshow/_MG_3460.JPG");
	}
	25% {
		background-image: url("../img/slideshow/_MG_3601.JPG");
	}
	50% {
		background-image: url("../img/slideshow/_MG_3638.JPG");
	}
	75% {
		background-image: url("../img/slideshow/_MG_3587.JPG");
	}
	100% {
		background-image: url("../img/slideshow/_MG_3618.JPG");
	}

}
@keyframes bannerslideshowAnimation{
	0% {
		background-image: url("../img/slideshow/_MG_3460.JPG");
	}
	25% {
		background-image: url("../img/slideshow/_MG_3601.JPG");
	}
	50% {
		background-image: url("../img/slideshow/_MG_3638.JPG");
	}
	75% {
		background-image: url("../img/slideshow/_MG_3587.JPG");
	}
	100% {
		background-image: url("../img/slideshow/_MG_3618.JPG");
	}
}
* , p {
	font-family:"roboto" , arial , helvetica , sans-serif;
}
a , a:visited  ,a:hover , a:focus , a:active {
	 outline: 0;
}
@mixin transitionConfiguration($function , $timer) {
	-webkit-transition:$function  $timer;
	-ms-transition:$function  $timer;
	-o-transition:$function  $timer;
	-moz-transition:$function $timer;
	transition:$function $timer;
}
@mixin boxShadow($propertyOne , $propertyTwo , $propertyThree , $color) {
	-ms-box-shadow:$propertyOne $propertyTwo $propertyThree $color;
	-webkit-box-shadow:$propertyOne $propertyTwo $propertyThree $color;
	-moz-box-shadow:$propertyOne $propertyTwo $propertyThree $color;
	-o-box-shadow:$propertyOne $propertyTwo $propertyThree $color;
	box-shadow:$propertyOne $propertyTwo $propertyThree $color;
}
@mixin textShadow($propertyOne , $propertyTwo , $propertyThree , $color) {
	-ms-text-shadow:$propertyOne $propertyTwo $propertyThree $color;
	-webkit-text-shadow:$propertyOne $propertyTwo $propertyThree $color;
	-moz-text-shadow:$propertyOne $propertyTwo $propertyThree $color;
	-o-text-shadow:$propertyOne $propertyTwo $propertyThree $color;
	text-shadow:$propertyOne $propertyTwo $propertyThree $color;
}
html,body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: auto;
	max-height: 100%;
	box-sizing: border-box;
}

#container { 
	width: inherit;
	height: inherit;
	background-color :$backgroundColor;
	font-family: Arial , helvetica ,sans-serif;
	font-size: 1em;
	header {
		position: relative;
		width: inherit;
		height: 60px;
		background-color: $coffteaThemeColor;
		box-shadow: 0px 0px 10px #000;
		#logocontainer {
			float: left;
			height: inherit;
			padding-left:20px;
			margin: 0;
			background-color: $coffteaThemeColor;
			img {
				position: absolute;
				height: 110px;
				width: 110px;
			}
		}
		#navbar {
			height: inherit;
			position: relative;
			margin-right: 6%;
			float: right;
			ul {
				height: 100%;
				li {
					list-style-type: none;
					background-color: $coffteaThemeColor;
					height: inherit;
					display: inline-block;
					font-family: "roboto" , arial ,helvetica ,sans-serif;
					float: left;
					// border :1px solid black;
					padding: 15px;
					padding-top: 20px;
					a{
						text-decoration: none;
						color:$backgroundColor;
						text-transform: uppercase;
						-webkit-transition: linear .2s;
						-moz-transition: linear .2s;
						-o-transition: linear .2s;
						transition: linear .2s;
						-moz-text-shadow:0px 0px 2px #2A2A2A;
						-webkit-text-shadow:0px 0px 2px #2A2A2A;
						-o-text-shadow:0px 0px 2px #2A2A2A;
						-ms-text-shadow:0px 0px 2px #2A2A2A;
						text-shadow:0px 0px 2px #2A2A2A;
						&:hover {
							color:$goldenfallenleaves;
						}
					}
				}
			}
		}
	}
	#bannerimg {
		height: 380px;
		width: 100%;
		padding-top: 340px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		/* -moz-animation-name: slideshowAnimation; 
		-moz-animation-duration: 25s; 
		-moz-animation-iteration-count: infinite;
		-moz-animation-timing-function: linear;
		-webkit-animation-name: slideshowAnimation; 
		-webkit-animation-duration: 25s; 
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-timing-function: linear;
		-o-animation-name: slideshowAnimation; 
		-o-animation-duration: 25s; 
		-o-animation-iteration-count: infinite;
		-o-animation-timing-function: linear;
		-khtml-animation-name: slideshowAnimation; 
		-khtml-animation-duration: 25s; 
		-khtml-animation-iteration-count: infinite;
		-khtml-animation-timing-function: linear;
		-ms-animation-name: slideshowAnimation; 
		-ms-animation-duration: 25s; 
		-ms-animation-iteration-count: infinite;
		-ms-animation-timing-function: linear;  
		animation-name: slideshowAnimation;
		animation-duration: 15s;
		animation-iteration-count: infinite;
		animation-timing-function: linear; */
	/* 	&:hover {
		-moz-animation-play-state:paused;
		animation-play-state:paused;
	} */
		#intro {
			width: inherit;
			height: inherit;
			margin: 0;
			text-align: center;
			color:$backgroundColor;
			line-height: 380%;
			@include textShadow(0px, 0px, 15px, #000);
			opacity: 0.3;
			@include transitionConfiguration(linear , 1s);
			&:hover {
				opacity: 1;
			}
			h2 {
				padding-top: 15%;
				font-size:350%;
			}
			h3 {
				font-size: 180%;
			}
		}
	}
	.missionandvission {
		width: 100%;
		border: 1px solid black;
		padding:1.5em;
		height: 300px;
		.missionandvisioncontainer {
			width: 45%;
			border: 1px solid black;
			padding: 10px;
			height: 220px;
			margin: 10px;
			float: left;
			text-align:center;
			padding-top: 0px;
			padding-left: 0px;
			padding-right: 0px;
			.misssionvissiontitle {
				height: 70px;
				border: 1px solid black;
				padding: 10px;
				margin-bottom: 10px;
				h3 {
					margin: 0px;
					font-size: 2em;
					height: 100%;
				}
				.content {
					line-height: 1em;
				}
			}
		}
		#mission {
			margin-left: 5%;
		}
	}
	#gallerybannerimg {
		height: 580px;
		width: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		-moz-animation-name: bannerslideshowAnimation; 
		-moz-animation-duration: 25s; 
		-moz-animation-iteration-count: infinite;
		-moz-animation-timing-function: linear;
		-webkit-animation-name: bannerslideshowAnimation; 
		-webkit-animation-duration: 25s; 
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-timing-function: linear;
		-o-animation-name: bannerslideshowAnimation; 
		-o-animation-duration: 25s; 
		-o-animation-iteration-count: infinite;
		-o-animation-timing-function: linear;
		-khtml-animation-name: bannerslideshowAnimation; 
		-khtml-animation-duration: 25s; 
		-khtml-animation-iteration-count: infinite;
		-khtml-animation-timing-function: linear;
		-ms-animation-name: bannerslideshowAnimation; 
		-ms-animation-duration: 25s; 
		-ms-animation-iteration-count: infinite;
		-ms-animation-timing-function: linear;  
		animation-name: bannerslideshowAnimation;
		animation-duration: 25s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
		#galleryintro {
			width: inherit;
			height: inherit;
			margin: 0;
			text-align: center;
			color:$backgroundColor;
			line-height: 380%;
			@include textShadow(0px, 0px, 15px, #000);
			font-family: "Roboto Slab" , sans-serif;
			@include transitionConfiguration(linear , 1s);
			opacity: 1.0;
			h2 , h3 {
				opacity: 0.3;
				@include transitionConfiguration(linear , 1s);
				font-family: "Roboto Slab", georgia , serif;
			}
			h2 {
				font-size:350%;
			}
			h3 {
	
				font-size: 180%;
			}
			&:hover {
				h2 {
					opacity: 1.0;
				}
				h3 {
					opacity: 1.0;
				}
			}
		}
	}

	.welcomeintro {
		/* border: 1px solid black; */
		padding: 0;
		height: 500px;
		width: inherit;
		.imgWelcomeandtxtwelcomecont {
			height: inherit;
			width: inherit;
			/* border:1px solid red; */
			padding: 15px;
			padding-top: 50px;
			#imgWelcome {
				width: 40%;
				margin-left:40px;
				float: left;
				background-image:url("../img/pexels-photo-349609.jpeg");
				@include boxShadow(0px, 0px, 10px, #000);
				background-size: 100% 100%;
				background-position: center;
				background-repeat: no-repeat;
				text-align: center;
				height:400px;
				p {
					display:block;
					font-size: 2em;
					color:$backgroundColor;
					@include textShadow(0px, 0px, 5px, #000);
					text-align: center;
					font-size: 2.5em;
					margin-top: 120px;
				}
				a{
					display: block;
					text-decoration: none;
					color: #2a2a2a;
					height: 50px;
					padding:10px;
					padding-top: 13px;
					border: 3px solid white;
					margin:0 auto;
					margin-top: 90px;
					width: 120px;
					@include boxShadow(0px , 0px , 5px, #2a2a2a);
					@include textShadow(0px, 0px, 5px, #000);
					@include transitionConfiguration(linear , .5s);
					&:hover {
						border: 3px solid $coffteaThemeColor;
						text-shadow:none;
						color: $coffteaThemeColor;
						font-weight: bold;
					}
				}
			}
			#txtwelcome {
				width: 40%;
				padding: 10px;
				padding-top: 0;
				margin-right: 90px;
				margin-top: 90px;
				float: right;
				text-align:center;
				h1 {
					text-align: center;
					margin-top: 0px;
					font-size: 2.5em;
				}
				.txtintro > p  {
					text-align: justify;
					font-size: 140%;
					line-height: 140%;
				}
			}
		}
	}
	#galleryintro {
		height: auto;
		width: 100%;
		padding: 30px;
		padding-top:150px;
		padding-bottom:50px;
		a#gallerycontainer {
			text-decoration: none;
			width: 85%;
			display: block;
			height: 500px;
			outline: none;
			margin: 0 auto;
			@include boxShadow(0px, 0px, 15px, #2a2a2a);
			@include transitionConfiguration(ease-in , .5s);
			#gallerylinkimg {
				width: 100%;
				height: 100%;
				padding-top:20%;
				margin: 0;
				background-image: url("../img/_MG_3582.JPG");
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
				font-size: 200%;
			}
			&:hover {
				@include boxShadow(0px, 0px, 25px, #2a2a2a);
				#galleryintrotxt {
					h2 {
						opacity: 1.0;
					}
				}
			}
			#galleryintrotxt {
				width: 100%;
				text-align: center;

				h2 {
					margin: 0;
					opacity: 0.4;
					display: inline-block;
					@include transitionConfiguration(ease-in , .5s);
					@include textShadow(0px , 0px , 10px, #000);
					height: 100%;
					text-transform: capitalize;
				}
			}
		}
	}
	footer#footercontainer {
		padding: 0;
		width: inherit;
		font-family: "roboto" , arial , sans-serif;
		height: 250px;
		// border: 1px solid black;
		background-color: $footercontentbg;
		color:white;
		.footercontent {
			margin: inherit;
			height:249px;
			.aboutinfocontainer {
				float: left;
				height: inherit;
				width: 40%;
				line-height: 150%;
				#companyname {
					margin-top: 29px;
					background-color: inherit;
					span {
						background-color: inherit;
						font-size: 1.4em;
						color:inherit;
					}
				}
				 #location {
				 	background-color: inherit;
					span {
						font-size: 0.90em;
						background-color: inherit;
						color:inherit;
					}
					margin-bottom: 0.90em;
				}
				#phonenumber {
					background-color: inherit;
					span {
						font-size: 0.90em;
						background-color: inherit;
						color:inherit;
					}
					margin-bottom: 0.90em;
				}
				#email {
					span {
						background-color: inherit;
						color:inherit;
					}
				}
				#companyname ,#location, #phonenumber , #email {
					margin-left:70px;
				}
			}
			.footernavbar {
				float: right;
				width: 60%;
				height: 100%;
				padding-top: 25px;
				.links {
					margin: 0;
					background-color: $footercontentbg;
					width: 40%;
					float: left;
					ul {
						height: inherit;
						font-size: .9em;
						li {
							background-color: $footercontentbg;
							list-style-type: none;
							line-height: 150%;
							font-size: 120%;
							
							a {
								color: $backgroundColor;
								@include transitionConfiguration(ease-in, .2s);
								text-decoration: none;
								&:hover {
									color: $goldenfallenleaves;
								}
							}
						}
					}
				}
				.findus {
					float: right;
					width: 60%;
					h3 {
						font-weight: normal;
						margin-bottom: 10px;
						font-size: 1.2em;
					}
					a {
						text-decoration: none;
						font-size: .9;
						color:$backgroundColor;
						@include transitionConfiguration(ease-in, .2s);
						&:hover {
							color: $goldenfallenleaves;
						}
					}
				}
			}
		}
		#copyrightcontainer {
			height: 50px;
			width: inherit;
			text-align: center;
			background-color: $copyRightBg;
			@include textShadow(0px, 0px, 5px, #2a2a2a);
			color:$backgroundColor;
			margin: 0;
			p {
				margin-top: 13px;
				display: inline-block;
				background-color: inherit;
			}
		}
	}
}


/*contact us page specific style*/

.contactusinfo {
	width: 100%;
	height: auto;
	border: 1px solid black;
	.contactcontainer {
		padding: 20px;
		padding-top: 60px;
		width: 100%;
		height: 700px;
		border: 1px solid black;
		#forinquiries {
			width: 35%;
			float: left;
			border: 1px solid black;
			clear: left;
			padding: 30px;
			margin-left: 9%;
			@include boxShadow(0px , 0px , 5px , #2a2a2a);
			form {
				width: 100%;
				height: 100%;

				.fillupname {
					margin-bottom: 10px;
					margin-top: 10px;
					font-size: 1em;
				}
				input {
					padding:5px;
					width: 100%;
					@include transitionConfiguration(linear , .2s);
				}
				input:focus {
					@include boxShadow(0px , 0px , 2px , #000);
				}
				input[type="submit"] {
					outline: none;
				} 
				input[type="submit"]:hover {
					@include boxShadow(0px , 0px , 2px , #000);
				}
				textarea {
					resize:none;
					width: 100%;
					padding: 5px;
				}
			}
		}
		#contactinfotxt {
			float: right;
			border: 1px solid black;
			height: 500px;
			padding: 10px;
			width: 35%;
			margin-right: 10%;
			padding-top: 60px;
			.infodivider {
				height: 35%;
				width: 100%;
				text-align: center;
				line-height: 140%;
				.title {
					text-align: center;
					margin-bottom: 20px;
				}
			}
			
		}
	}
	#location {
		width: 100%;
		height: 400px;
		iframe {
			width: 100%;
			height: 100%;
		}
	}
	#emailcontainer {
		width: 100%;
		height: auto;
		border: 1px solid black;
		.titleandesc {
			height: 20%;
			border-bottom:1px solid black;
			div {
				width: 100%;
				text-align: center;
			}
			.emailtitle {
				font-size: 2em;
				margin-top: 1.5em;
			}
			.emaildescription {
				margin-top: .5em;
				font-size: 1.5em;
			}
		}
		.updates{
			width: 100%;
			padding-bottom: 10px;
			padding-top: 20px;
			form {
				width:509px;
				margin: 0 auto;
				height: 100%;
				input {
					padding: 7px;

					display: inline-block;
				}
				input[type="email"] {
					margin-right: 100px;
					width: 250px;
					@include transitionConfiguration(linear , .2s);
				}
				input[type=email]:focus {
					@include boxShadow(0px , 0px , 5px , gray);
				}
			}
		}
	}
}

/* about us stylesheet */


#aboutuscontainer {
	width: inherit;
	margin: 0;
	padding:15px;
	height: auto;
	#history {
		width: 90%;
		margin: 0 auto;
		margin-top: 100px;
		border: 1px solid black;
		margin-bottom: 100px;
		#coffteaimg {
			width: 100%;
			height:400px;
			border: 1px solid black;
			margin:0 auto;
			padding: 0;
			background-image: url("../img/coffteahistoryimg.jpg");
			background-position: center;
			background-repeat: no-repeat;
			background-size: 100% 100%;

		}
		#historyinfo {
			margin-top: 1%;
			width: 100%;
			height: inherit;
			padding: 5px;
			text-align: center;
			.historytitle {
				font-size: 2.5em;
				margin-bottom: 10px;
			}
			p {
				font-size: 1em;
				line-height: 150%;
			}
		}
	}
	#missionandvission {
		width: 90%;
		margin:0 auto;
		margin-top: 100px;
		border: 1px solid black;
		margin-bottom: 100px;
		height: 500px;
		margin-bottom: 100px;
		/* #mission {
			float: left;
		
		}
		#vision {
			float: right;
		} */
		#mission , #vision {
			width: 100%;
			height: 50%;
			border: 1px solid black;
			padding: 10px;
			h3 {
				text-align: center;
				font-size: 200%;
				margin-bottom: 30px;
			} 
			p {
				text-align: center;
				line-height: 150%;
				font-size: 1em;
			}
		}
		#vision {
			p {
				font-size:1.3em;
				text-align: center;
			}
		}
	}
	#members {
		width: 90%;
		margin: 0 auto;
		border: 1px solid black;
		#memberstitle {
			width: 100%;
			text-align: center;
			font-size: 2em;
			margin-bottom: 50px;
		}
		#membersCatalog {
			width: 98%;
			margin: 0 auto;
			.compartment {
				width: 100%;
				height: 450px;
				figure {
					width:30%;
					height:75%;
					margin-top: 50px;
					border: 1px solid black;
					float: left;
					border-radius: 100%;
					@include boxShadow(0px, 0px , 10px, #2a2a2a);
					@include transitionConfiguration(ease-in , .5s);
					text-align: center;
					&:hover {
						@include boxShadow(0px, 0px , 20px, #2a2a2a);
					}
					figcaption {
						width: inherit;
						margin-top: 200px;
						margin-left: 120px;
					}
				}
				figure:first-child {
					margin-left: 16%;
				}
				figure:last-child {
					margin-left: 5%;
				}
			}
		}
	}
}
/* menu page style */

#menucontainer {
	width: 100%;
	border: 1px solid black;
	height: 2000px;
	.border {
		border:1px solid black;
	}
	#drinkscontainer {
		width: inherit;
		height: 50%;
		border-bottom: 1px solid black;
		#hotdrinks {
			height: 400px;
			width: 300px;
			float: left;
			padding:10px;
			padding-top: 50px;
			.titleandprice {
				height: 30px;
				width: 100%;
				border: 1px solid black;
				h3 {
					float: left;
				}
				h4 {
					float: right;
					margin-right: 20px;
				}
			}
			ul {
				float: left;
				list-style-type: none;
				line-height: 140%;
			}
			ul:last-child {
				margin-left: 15%;
			}
		}


		#icedcoffee {
			width: 342px;
			height: 300px;
			float: left;
			padding:10px;
			padding-top: 50px;
			h3 {
				width: 100%;
				border: 1px solid black;
			}
			.titleandprice {
				height: 30px;
				width: 100%;
				border: 1px solid black;
				h4 {
					float: right;
				}
				h4:first-child {
					margin-right: 15px;
					margin-left: 5px;
				}
				h4:last-child {
					margin-left: 10px;
				}
			}
			.icecoffecon {
				border: 1px solid black;
				margin-top: 30px;
				width: 100%;
				padding: 0px;
				height: 70%;
				margin-top: 10px;
				ul {
					float: left;
					list-style-type: none;
					line-height: 140%;
					border: 1px solid black;
				}
				.prices12oz {
					margin-left: 5px;
				}
				.prices16oz {
					margin-left: 10px;
				}
			}
		}
		#frapuccino {
			width: 335px;
			height: 300px;
			border: 1px solid black;
			float: left;
			padding:10px;
			padding-top: 50px;
			h3 {
				width: 100%;
				border: 1px solid black;
			}
			.titleandprice {
				height: 30px;
				width: 100%;
				border: 1px solid black;
				h4 {
					float: right;
				}
				h4:first-child {
					margin-right: 15px;
					margin-left: 15px;
				}
				h4:last-child {
					margin-left: 5px;
				}
			}
			.frapuccinocon {
				border: 1px solid black;
				margin-top: 30px;
				width: 100%;
				padding: 0px;
				height: 70%;
				margin-top: 10px;
				ul {
					float: left;
					list-style-type: none;
					line-height: 140%;
					border: 1px solid black;
				}
				.prices12oz {
					margin-left: 15px;
				}
				.prices16oz {
					margin-left: 10px;
				}
			}
		}



		#signaturedrinks {
			width: 370px;
			height: 550px;
			border: 1px solid black;
			float: right;
			margin: 0;
			padding:10px;
			padding-top: 50px;
			h3 {
				width: 100%;
				border: 1px solid black;
			}
			.titleandprice {
				height: 30px;
				width: 100%;
				border: 1px solid black;
				h4 {
					float: right;
				}
				h4:first-child {
					margin-right: 15px;
					margin-left: 15px;
				}
				h4:last-child {
					margin-left: 5px;
				}
			}
			.signaturedrinkscon {
				border: 1px solid black;
				margin-top: 30px;
				width: 100%;
				padding: 0px;
				height: 88%;
				margin-top: 10px;
				ul {
					float: left;
					list-style-type: none;
					line-height: 140%;
					border: 1px solid black;
				}
				.prices12oz {
					margin-left: 15px;
					margin-right: 5px;
				}
				.prices16oz {
					margin-left: 10px;
					margin-right: 5px;
				}
			}
		}
		#italiansoda {
			width: 300px;
			height: 350px;
			border: 1px solid black;
			margin: 0;
			padding:10px;
			clear: left;
			float: left;
			padding-top: 50px;
			h3 {
				width: 100%;
				border: 1px solid black;
			}
			.italiansodacon {
				border: 1px solid black;
				margin-top: 30px;
				width: 100%;
				padding: 0px;
				height: 88%;
				margin-top: 10px;
				ul {
					float: left;
					list-style-type: none;
					line-height: 140%;
					border: 1px solid black;
				}
				.price {
					margin-left:35%;
				}
			}
		}
	}
}

/* services styles */

#eventscontainer {
	.eventstitle {
		width: 100%;
		margin-top: 100px;
		padding:10px;
		text-align: center;
		margin-bottom: 50px;
		font-size: 1.5em;
	}
	#centering {
		width: 80%;
		padding:10px;
		border: 1px solid black;
		margin: 0 auto;
		.separator {
			width: 100%;
			height: 50%;
			border: 1px solid black;
			.eventsimg {
				width: 100%;
				height: 30%;
				@include boxShadow(0px, 0px, 10px, #2a2a2a);
				@include transitionConfiguration(ease-in , .2s);
				&:hover {
					@include boxShadow(0px, 0px, 15px, #2a2a2a);
				}
				figure {
					width: 100%;
					height: 450px;
					margin:0;
					background-position: center;
					background-repeat: no-repeat;
					background-size: 100% 100%;
					
				}
			}
			#martinazimg {
				figure {
					background-image: url("../img/_MG_3619.JPG");
					background-position: center;
					background-repeat: no-repeat;
					background-size: 100% 100%;
				}
			}
			h3 {
				margin-top: 10px;
				padding: 15px;
				font-size: 1.5em;
				text-align: center;
			}
			.prices {
				width: 49.70%;
				margin: 0;
				margin-top: 50px;
				height: 200px;
				display: inline-block;
				margin-bottom: 30px;
				h4 {
					text-align: center;

				}
				dl {
					padding: 10px;
					padding-top: 15px;
					padding-left: 15px;
					dt {
						padding-bottom: 5px;
						font-weight: bold;
					}
					dd {
						padding-left: 35px;
					}
				}
			}
			.prices:first-child {
				border: 1px solid black;
			}
			.prices:last-child {
				border: 1px solid black;
			}
		}
	}
}

/* gallery stylesheet */
@mixin galleryconfig {
	background-position: center;
	background-size:100% 100%;
	background-repeat: no-repeat;
	border: 3px solid $copyRightBg;
	@include boxShadow(0px, 0px , 10px , #1a1a1a);
	@include transitionConfiguration(linear , .5s);
}

#gallerycontainer {
	background-color:$backgroundColor;
	color:$backgroundColor;
	text-transform: capitalize;
	width: 100%;
	height: auto;
	/* #gallerytitle {
		width: 100%;
		height: 50px;
		padding: 10px;
		text-align: center;
		text-transform: uppercase;
		@include textShadow(0px, 0px , 10px, #2a2a2a);
		background-color: #1a1a1a;
		h1 {
			background-color: #1a1a1a;
			width: 100%;
			text-transform: capitalize;
			margin: 0;
			height: 100%;
		}
	} */
	.compartment {
		padding: 20px;
		width: 100%;
		height: 50%;
		a {
			outline: none;
			height: 300px;
			width: 49.0%;
			text-decoration: none;
			display: inline-block;
			margin:0 auto;
			.category {
				width: 100%;
				height: 100%;
				margin: 0;
				h2 {
					text-decoration: none;
					color:$backgroundColor;
					width: 100%;
					margin-top:37.34%;
					background-color:$copyRightBg;
					padding-top: 15px;
					padding-bottom: 15px;
					text-align: center;
					@include textShadow(0px, 0px, 10px, #2a2a2a);
				}
				&:hover {

				}
			}
			#facilitiesgallery {
				background-image:url("../img/_MG_3638.JPG");
				@include galleryconfig;
				&:hover {
					border: 3px solid $coffteaThemeColor;
					@include boxShadow(0px, 0px , 15px , #2a2a2a);
				}
			}
			#membersgallery {
				background-image:url("../img/_MG_3467.JPG");
				@include galleryconfig;
				&:hover {
					border: 3px solid $coffteaThemeColor;
					@include boxShadow(0px, 0px , 15px , #2a2a2a);
				}
			}
			#foodsgallery {
				background-image: url("../img/_MG_3461.JPG");
				@include galleryconfig;
				&:hover {
					border: 3px solid $coffteaThemeColor;
					@include boxShadow(0px, 0px , 15px , #2a2a2a);
				}
			}
			#eventsgallery {
				background-image:url("../img/_MG_3618.JPG");
				@include galleryconfig;
				&:hover {
					border: 3px solid $coffteaThemeColor;
					@include boxShadow(0px, 0px , 15px , #2a2a2a);
				}
			}	
		}
		a:first-child {
			margin-right: 5px;
		}
		a:last-child {
			margin-left: 5px;
		}
	}
}

#ktvimg {
	figure {
		background-image: url("../img/_MG_3580.JPG");
		background-position: center;
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
}


.buttons {
	position:relative;
	height: 25px;
	width: 120px;
	margin: 0 auto;
	.button {
		display: inline-block;
		width: 20px;
		height: 20px;
		background-color: white;
		border-radius: 100%;
		border:3px solid brown;
		&:hover {
			@include boxShadow(0px, 0px, 5px, #000);
		}
	}
}

#optionbuttoncontainer {
	width: 100%;
	height: 100px;
	border: 1px solid black;
	.optionbutton {
		width: 30%;
		height: 50px;
		margin: 10px;
		margin-top: 25px;
		border: 1px solid black;
		display: inline-block;
		text-align: center;


		a {
			width: 100%;
			height: 100%;
			padding-top: 15px;
			display: inline-block;
			text-decoration: none;
			text-transform: uppercase;
			color:#000;
		}
	}
	.optionbutton:first-child {
		margin-left: 40px;
	}
}

#bestsellercontainer {
	height: auto;
	width: 100%;
	border: 1px solid black;
	.bestsellerdevider {
		display: inline-block;
		width:49.85%;
		border: 1px solid black;
		height: 700px;
		margin: 0;
		.bestsellertitle {
			width: 100%;
			height: 70px;
			font-size: 1.5em;
			text-align: center;
			border: 1px solid black;
			margin-bottom: 20px;
			h3 {
				width: 100%;
				height: 100%;
				padding-top: 15px;
			}
		}
		.seller {
			width: 40%;
			float: left;
			height: 170px;
			border: 1px solid black;
			margin: 10px;
			margin-left: 40px;
			padding: 10px;
			figure {
				border: 1px solid black;
				width: 100%;
				height: 100%;
				margin: 0 auto;
			}
		}
	}
}
#menubannercontainer {
	height: 350px;
	width: 100%;
	border: 1px solid black;
	background: red;
	#caption {
		margin-top: 10%;
		text-align: center;
		font-size: 2em;
		width: 100%;
		h1 {
			height: 100%;
			width: 100%;
		}
	}
}
#menucontainer {

	width: 100%;
	height: auto;
	border:1px solid black;
	.menudevider {
		width: 100%;
		height: auto;
		border: 1px solid black;
		.menutitle {
			margin:0;
			height: 70px;
			border: 1px solid black;
			width: 100%;
			text-align: center;
			padding-top: 25px;
			padding-bottom: 30px;
			h2 {
				width: 100%;
				font-size: 2em;
				height: 100%;
			}
		}
		.menudivider {
			width: 100%;
			.categorytitle {
				margin-top: 20px;
				background-color: brown;
				padding: 10px;
				text-align: center;
			}
			.dishes {
				width: 225px;
				height: 270px;
				border: 1px solid black;
				margin: 15px;
				display: inline-block;
			}
			.first-child {
				margin-left: 40px;
			}
		}
	}
}

.servicesbanner {
	height: 350px;
	width: 100%;
	background-color: red;
	padding-top: 20%;
	.servicetxt {
		width: 100%;
		font-size: 2em;
		padding-left: 1em;
	}
}

.servicescontainer {
	height: auto;
	width: 100%;
	.categoryoption {
		width: 100%;
		height: 100px;
		border: 1px solid black;
	}
}